.chat-app {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2rem;
  gap: 2rem;
  overflow: hidden;
}

.chat-list {
  width: 30%;
  height: 100%;
  background-color: var(--background);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 2rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  z-index: 1000;
}

.chat-list-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: var(--text-heading);
}

.chat-list-header h2 {
  font-size: 1.3rem;
  font-weight: normal;
  text-transform: uppercase;
}

.chat-list-header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.chat-list-header-icons .bx-x {
  display: none;
}

.chat-list-header i {
  font-size: 1.7rem;
  cursor: pointer;
}

.chat-list-item {
  width: 100%;
  height: 5.2rem;
  background-color: var(--background);
  padding: 1.4rem 2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.chat-list-item:active {
  transform: scale(0.97);
}

.chat-list-item.active {
  background: var(--primary);
}

.chat-list-item h4 {
  font-size: 1.3rem;
  font-weight: 200;
  color: var(--text-gray);
}

.chat-list-item.active h4 {
  color: #fff;
}

.chat-list-item.active i {
  color: #fff;
}

.chat-list-item i {
  font-size: 2.4rem;
  color: var(--gray-dark);
  cursor: pointer;
}

.chat-window {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-title {
  width: 100%;
  min-height: 6.4rem;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.chat-title h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--text-heading);
  letter-spacing: 0.1rem;
}

.chat-title i.bx-menu {
  display: none;
}

.arrow {
  font-size: 2.4rem;
  color: var(--text-heading);
  cursor: pointer;
}

.chat {
  width: 100%;
  flex-grow: 1;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  overflow-y: auto;
}

.chat::-webkit-scrollbar {
  display: none;
}

.prompt,
.response {
  display: flex;
  gap: 1rem;
}

.prompt {
  flex-direction: row-reverse;
}

.avatar {
  width: 2.8rem;
  height: 2.8rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
}

.avatar img {
  width: 2.2rem;
  height: 2.2rem;
  margin: auto;
}

.prompt .avatar img {
  margin: auto auto -0.1rem;
}

.prompt .dialogue,
.response .dialogue {
  max-width: 80%;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--text-paragraph);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.prompt .dialogue {
  background: var(--gray);
  border-radius: 2rem 0 2rem 2rem;
  text-align: right;
}

.response .dialogue {
  background: var(--gradient);
  border-radius: 0 2rem 2rem 2rem;
  text-align: left;
}

.prompt .dialogue span,
.response .dialogue span {
  font-size: 1.3rem;
  display: block;
  margin-top: 1rem;
}

.typing {
  font-size: 1.5rem;
  color: var(--text-gray);
  margin-top: auto;
  margin-bottom: -1rem;
}

.msg-form {
  width: 100%;
  min-height: 6.4rem;
  background-color: var(--background);
  display: flex;
  align-items: center;
  box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  border-radius: 2rem;
  position: relative;
}

.msg-form i {
  font-size: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  color: var(--gray-dark);
  cursor: pointer;
}

.picker {
  position: absolute;
  bottom: 7rem;
  left: 5rem;
}

.msg-input {
  height: 100%;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: var(--gray-dark);
}

.msg-input::placeholder {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray-dark);
}

.msg-input:focus::placeholder {
  opacity: 0;
}

@media (max-width: 900px) {
  .chat-app {
    flex-direction: column;
  }

  .chat-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
    transform: translate(-100%);
    transition: 0.3s ease;
  }

  .chat-list.show {
    transform: translateX(0);
  }

  .chat-list-header {
    padding: 1rem 1.4rem;
  }

  .chat-list-header-icons .bx-x {
    display: block;
    font-size: 3.2rem;
  }

  .chat-window {
    width: 100%;
  }

  .chat-title h3 {
    padding-left: 3.5rem;
  }

  .chat-title i.bx-menu {
    font-size: 2.4rem;
    color: var(--text-heading);
    display: block;
    cursor: pointer;
    position: absolute;
  }
}

@media (max-width: 500px) {
  .chat-list {
    width: 75%;
  }

  .picker {
    left: 1rem;
  }
}
