.mode-switch {
  position: absolute;
  right: 0;
  top: 4rem;
  width: 6rem;
  height: 4rem;
  background: var(--primary);
  border-radius: 1rem 0 0 1rem;
  cursor: pointer;
}

.chat-app ~ .mode-switch {
  top: 4.4rem;
  right: 7.3rem;
  width: 3.2rem;
  height: 1.5rem;
  border-radius: 1rem;
}

.icon {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.3rem;
  color: #ffcc00;
  transition: 0.2s ease;
}

.chat-app ~ .mode-switch .icon {
  top: 40%;
  left: -0.2rem;
}

.bxs-moon {
  left: 2.5rem;
}

.chat-app ~ .mode-switch .icon.bxs-moon {
  left: 1.2rem;
}
