@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --text: #574b4b;
  --text-gray: #8d8d8d;
  --text-gray-2: #7a5b86;
  --background: #ffffff;
  --background2: #feefff;
  --background3: #ffffff;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--background);
}

.container[data-mode="dark"] {
  --text: #ffffff;
  --text-gray: #ddd;
  --text-gray-2: #7b8ebc;
  --background: #131927;
  --background2: #0d111a;
  --background3: #161c2c;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}
